version: "2"

services:
  network-optimizer:
    image: ghcr.io/ozark-connect/network-optimizer:1.3.0@sha256:0615ea8d3cbff988512da48d0974b0bed174e9225033ac3d48272b54bbe161f8
    network_mode: host
    volumes:
      - data:/app/data
      - ssh-keys:/app/ssh-keys:ro
      - logs:/app/logs
    environment:
      BIND_LOCALHOST_ONLY: "false"
      OPENSPEEDTEST_HTTPS: "false"
      OPENSPEEDTEST_PORT: "3000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8042/api/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s

  speedtest:
    image: ghcr.io/ozark-connect/speedtest:1.3.0@sha256:e99d6ec3be5524b5ed9c5570e73fd4e1766cdefb729de33bf7d09b71554f9e59
    ports:
      - "3000:3000"

volumes:
  data: {}
  ssh-keys: {}
  logs: {}
