version: "2"

services:
  network-optimizer:
    image: ghcr.io/ozark-connect/network-optimizer:1.3.10@sha256:fb1b94efe3e64d71dde48e55ada51d5348da639933ce5f4eb8cf915835a69085
    network_mode: host
    volumes:
      - data:/app/data
      - ssh-keys:/app/ssh-keys:ro
      - logs:/app/logs
    environment:
      BIND_LOCALHOST_ONLY: "false"
      OPENSPEEDTEST_HTTPS: "false"
      OPENSPEEDTEST_PORT: "3000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8042/api/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s

  speedtest:
    image: ghcr.io/ozark-connect/speedtest:1.3.10@sha256:57f3fef7137ed2d69995fed1510ce137a3400ce3c2985c79a8cbcd56bbcedc3f
    ports:
      - "3000:3000"

volumes:
  data: {}
  ssh-keys: {}
  logs: {}
